body{
  margin:  0;
  border-top: 25px solid orange ;
  background-color: rgb(243, 243, 203);
  font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
}

main {
  width: 90%;
  background: rgb(243, 243, 203);
}

h1 {
  text-align: center;
  
}

table{
  margin: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 90%;
  border-spacing: 2px;
  margin-right: 0;
} 

th {
  width: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(183, 229, 243);
  
}

td {
  width: 30px;
  text-align: left;
  font-size: 18px;
  padding: 8px;
  border: 1px solid white;
  background-color: rgb(217, 240, 250);
}

#functionButton{
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgb(238, 208, 153);
  padding-top: 40px;
}

#functionButton button {
  justify-content: center;
  color: white;
  font-size: 15px;
  font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
  padding: 12px;
  width: 105px;
  margin-bottom: 5px;
  background-color: orange;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#functionButton button:hover {
  background-color: #c4511c; 
  color: #ffffff;
}

.menu {
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  background-color: #dcf1f7;
  background-color: rgba(0,0,0,0.4);
}

.menuContent {
  background-color: white;
  border: 1px solid grey;
  margin: auto;
  padding: 20px;  
  max-height: calc(100vh - 73px);
  width: 25%;
  overflow-y: auto;
}

.menuContent h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20;
  color: blueviolet;
}

.menuBox{
  margin: auto;
  padding: 20px 0 10px 20px;
}

.menuBox input[type=text], .menuBox input[type=number], .menuBox input select{
  border: 1px solid #222020;
  box-shadow: 1px 1px 4px #b6b4b4;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  width: 70%;
}

.menuBox label {
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
}

.menuBox span{
  padding-right: 20px;
}

.menuBox select{
  padding: 8px;
  width: 70%;
}

.menuBox input[type=submit] {
  background: rgb(174, 127, 218);
  padding: 8px;
  border: none;
  color: white;
  margin: 0 115px;
}

.menuBox h3{
  margin: auto;
  text-align: center;
}



