body {
    margin:  0;
    border-top: 25px solid orange ;
    background-color: rgb(243, 243, 203);
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
}

main {
    margin-left: 58px;
    width: 90%;
    background: rgb(243, 243, 203);
}

table{
    margin: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 90%;
    border-spacing: 2px;
    margin-right: 0;
  } 
  
  th {
    width: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: rgb(183, 229, 243);
    
  }
  
  td {
    width: 30px;
    text-align: left;
    font-size: 18px;
    padding: 8px;
    border: 1px solid white;
    background-color: rgb(217, 240, 250);
  }
  

p {
    text-align: center;
}

canvas{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.sideBtn {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    background-color: rgb(238, 208, 153);
    padding-top: 40px;
}

.sideBtn button {
    justify-content: center;
    color: white;
    font-size: 20px;
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
    padding: 12px;
    width: 105px;
    background-color: orange;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.sideBtn button:hover {
    background-color: #c4511c; 
    color: #ffffff;
}

h1 {
    text-align: center;
}

.form-style {
    margin: auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    text-align: center;
}


.form-style input[type=submit] {
    font: normal 100% Georgia, "Times New Roman", Times, serif;
    background: blueviolet;
	padding: 15px;
	border: none;
	color: #fff;
}

