input{
    display: flex;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
}

input[type=submit]{
    background-color: rgb(173, 46, 46) ;
    color: white;
    min-width: 100px;
    display: block;
}